body {
  text-align: center;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #222;
    color: #fff;
  }
  
  
  main {
    background: #444;
    margin: auto;
    padding: 60px;
    margin-top: 60px;
    max-width: 800px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #ccc;
    margin-bottom: 6px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
    width: calc(100% - 22px); /* Adjust for border and padding */
    margin-bottom: 10px;
  }
  
  button {
    color: #fff;
    border: 0;
    background: #0a58ff;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5f4fa7;
  }
  
  footer {
    text-align: center;
    display: block;
    color: #999;
    margin-top: 20%;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .hidden{
    visibility: hidden;
  }

  #output{
    text-align: left;
  }